@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --background: #ffffff;
  --background: oklch(1 0 0);

  --foreground: #222222;
  --foreground: oklch(0.145 0 0);

  --card: #ffffff;
  --card: oklch(1 0 0);

  --card-foreground: #222222;
  --card-foreground: oklch(0.145 0 0);

  --popover: #ffffff;
  --popover: oklch(1 0 0);

  --popover-foreground: #222222;
  --popover-foreground: oklch(0.145 0 0);

  --primary: #2c2c2c;
  --primary: oklch(0.205 0 0);

  --primary-foreground: #ffffff;
  --primary-foreground: oklch(0.985 0 0);

  --secondary: #f5f5f5;
  --secondary: oklch(0.97 0 0);

  --secondary-foreground: #2c2c2c;
  --secondary-foreground: oklch(0.205 0 0);

  --muted: #f5f5f5;
  --muted: oklch(0.97 0 0);

  --muted-foreground: #8e8e8e;
  --muted-foreground: oklch(0.556 0 0);

  --accent: #f5f5f5;
  --accent: oklch(0.97 0 0);

  --accent-foreground: #2c2c2c;
  --accent-foreground: oklch(0.205 0 0);

  --destructive: #e66565;
  --destructive: oklch(0.577 0.245 27.325);

  --border: #ececec;
  --border: oklch(0.922 0 0);

  --input: #ececec;
  --input: oklch(0.922 0 0);

  --ring: #b3b3b3;
  --ring: oklch(0.708 0 0);

  --chart-1: #d77645;
  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: #6fa9e6;
  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: #6f7cd9;
  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: #e8b953;
  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: #dfb04c;
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: #fafafa;
  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: #222222;
  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: #2c2c2c;
  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: #ffffff;
  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: #f5f5f5;
  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: #2c2c2c;
  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: #ececec;
  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: #b3b3b3;
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #1f1f1f;
  --background: oklch(0.145 0 0);

  --foreground: #ffffff;
  --foreground: oklch(0.985 0 0);

  --card: #232323;
  --card: oklch(0.205 0 0);

  --card-foreground: #ffffff;
  --card-foreground: oklch(0.985 0 0);

  --popover: #232323;
  --popover: oklch(0.205 0 0);

  --popover-foreground: #ffffff;
  --popover-foreground: oklch(0.985 0 0);

  --primary: #e3e3e3;
  --primary: oklch(0.922 0 0);

  --primary-foreground: #2c2c2c;
  --primary-foreground: oklch(0.205 0 0);

  --secondary: #3f3f3f;
  --secondary: oklch(0.269 0 0);

  --secondary-foreground: #ffffff;
  --secondary-foreground: oklch(0.985 0 0);

  --muted: #3f3f3f;
  --muted: oklch(0.269 0 0);

  --muted-foreground: #b3b3b3;
  --muted-foreground: oklch(0.708 0 0);

  --accent: #3f3f3f;
  --accent: oklch(0.269 0 0);

  --accent-foreground: #ffffff;
  --accent-foreground: oklch(0.985 0 0);

  --destructive: #d55f5f;
  --destructive: oklch(0.704 0.191 22.216);

  --border: #ffffff1a;
  --border: oklch(1 0 0 / 10%);

  --input: #ffffff26;
  --input: oklch(1 0 0 / 15%);

  --ring: #8e8e8e;
  --ring: oklch(0.556 0 0);

  --chart-1: #7c7ce8;
  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: #a5d3f3;
  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: #dfb04c;
  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: #9c79ed;
  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: #e08f55;
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: #232323;
  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: #ffffff;
  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: #7c7ce8;
  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: #ffffff;
  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: #3f3f3f;
  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: #ffffff;
  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: #ffffff1a;
  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: #8e8e8e;
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  body {
    font-family: var(--font-fredoka), sans-serif;
  }
}
